# M297 Student Representation with Data

In this notebook, we will do the following:

- Do a pandas exploration of the M297 student dataset 
- Explore the following representations:
    - Grade Level
    - School Attending
    - Gender 
- Build pie charts to visualize the 3 representations

In [1]:
# Let's start by importing pandas and matplotlib 

%matplotlib inline
import pandas as pd 
import matplotlib.pyplot as plt 

# Let's get the M297 student dataset 

studentData = pd.read_csv('../data/m297-students.csv') 

# Let's view it

studentData

         Student Name      High School  Grade Number  Gender
0       Meredith Chang  Claremont High             9  Female
1         Sidney Orret  Claremont High            11  Female
2            Royce Cho            None            11    Male
3       Sanskar Narang     Bonita High             9    Male
4          Kaitlyn Lee            None            12  Female
5        Aleks Watkins  Claremont High            10    Male
6           Jiwoo Yoon    Palos Verdes            10  Female
7   Elizabeth Santhosh            None            11  Female
8        Anoushka Bhat            None            10  Female
9           Roark Chao  Claremont High            11    Male
10        Brian Chung   La Canada High            10    Male
11    Nathaniel Berger   Monrovia High             9    Male
12           Luke Xia       Homeschool             9    Male
13   Anushka Venkatesh     Bonita High            11  Female
14      Shelton Chieu    Los Osos High            10    Male
15       Josiah Turner     Bonita High             9    Male
16           FT Safieh     Bonita High             9     NaN
17    Anshul Venkatesh     Bonita High            11    Male
18        Stephanie Be           None             10  Female

In [7]:
# Let's get an understanding of the different high schools being repped in this classroom

# use unique() and nunique()

# number of high schools
print(studentData['High School'].nunique())

# list of high schools 

print(studentData['High School'].unique()) 

# Let's try to generate the frequencies of the different high schools 

# we'll use a super cool list comprehension to do this 

highSchool_counts = [len(studentData[studentData['High School'] == i]) for i in studentData['High School'].unique()]
print(highSchool_counts) 

# Does it add up to 19 students? 

print(sum(highSchool_counts))  

# Perfecto

9
['Claremont High' 'None' 'Bonita High' 'Palos Verdes' 'La Canada High'
 'Monrovia High' 'Homeschool' 'Los Osos High' 'None ']
[4, 4, 5, 1, 1, 1, 1, 1, 1]
19